/*стилизация блока с новинками*/

.new {
    padding-top: 120px;
    background-color: #f9fdff;
}
  
.new__wrapper {
    padding-left: 10px;
    box-sizing: border-box;
    position: relative;
}
  
.new__title {
    display: flex;
    align-items: center;
    width: calc((100% - 10px)/4);
    height: 289px;
    position: absolute;
}

.new__list,
.new__title h2 {
    position: relative;
    margin: 0;
    padding: 0;
}

.new__item,
.new__list {
    display: flex;
    box-sizing: border-box;
}

.new__list {
    flex-wrap: wrap;
    padding-right: calc((100% - 45px)/2);
    list-style: none;
    width: 100%;
}
  
.new__title h2 {
    font-family: "Playfair Display", "Georgia", serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #303032;
    text-transform: uppercase;
}

.new__title h2::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 90px;
    height: 4px;
    background-color: #303032;
  }

.new__item {
    width: 50%;
    min-height: 289px;
    padding-right: 30px;
    padding-bottom: 37px;
    flex-shrink: 0;
}

.new__item:first-child {
    width: 100%;
}

.new__item:first-child:before {
    content: "";
    width: 100%;
    min-height: 289px;
    display: block;
    padding-right: 30px;
}

.new__item img {
    display: block;
    margin: 0 auto;
  }

.new__item a {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .03);
  }

.new__item a:focus,
.new__item a:hover {
    background-color: #fceae8;
}

.new__item--big {
    padding-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc((100% - 45px)/2);
  }

.new__item--big .product__image {
    height: 516px;
}

.new__item--big .product__image img {
    margin: 19px auto 0;
    padding-left: 6px;
}

.new__item--big p {
    margin-bottom: 25px;
    padding-right: 27px;
}
  
.new__item--big h3 {
    margin-bottom: 9px;
}
  
.new__item--twilight img {
    margin: 20px auto 0;
}
  
.new__item--chandelier img {
    padding-left: 4px;
}

.product--new,
.product--sale {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product--new h3,
.product--new p {
    width: 100%;
    margin: -2px 0 7px;
    padding: 0 5px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #303032;
    text-align: center;
}

.product--new p {
    margin: 0 0 17px;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

@media (max-width: 1023px) {
    .new {
        padding-top: 50px;
    }
  
    .new__wrapper {
        width: 100%;
        padding: 0 16px;
    }
  
    .new__list {
        padding-right: 0;
    }
  
    .new__title {
        position: static;
        width: 100%;
        height: auto;
        margin-bottom: 60px;
    }
  
    .new__item:first-child {
         width: 50%;
    }
  
    .new__item:first-child::before {
        content: none;
    }
  
    .new__item:nth-child(odd) {
        padding-right: 0;
    }
  
    .new__item--big {
        position: static;
        order: -1;
        width: 50%;
        padding-right: 30px;
    }
  
    .new__item--big .product__image {
        height: 201px;
    }
  
    .new__item--big .product__image img {
        width: auto;
        height: 100%;
        margin-top: 0;
    }
  }

@media (max-width: 767px) {
    .new__wrapper {
        width: 100%;
        padding: 0;
    }
  
    .new__title {
        min-height: auto;
        margin-bottom: 54px;
    }
  
    .new__title h2 {
        padding-top: 21px;
        font-size: 26px;
        line-height: 27px;
    }
  
    .new__title h2::after {
        bottom: -15px;
    }
  
    .new__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .new__item {
        width: 80%;
        padding-right: 0;
        padding-bottom: 32px;
    }
  
    .new__item:first-child {
        width: 80%;
    }
  
    .new__item--big {
      order: 3;
    }
  
    .new__item--chandelier {
      order: 2;
    }

    .product__image {
        padding-top: 45px;
    }
  }
